<!-- app/views/posts/_errors.html.erb -->

<div class="errors">
  <% @post.errors.each do |attribute, error| %>
    <p class="error" style="color: orange">
      <%= attribute %>: <%= error %>
    </p>
  <% end %>
</div>
