<html>
  <body>

    <form method="post" action="/create_post">

      <label>Title</label>
      <input id="title" name="title" type="text" />
      <br /> <br />

      <label>Body</label>
      <textarea id="body" name="body"></textarea>
      <br /> <br />

      <label>Author</label>
      <input id="author" name="author" type="text" />
      <br /> <br />

      <input type="submit" value="Create Post" />

    </form>

    <br />
    <!-- link back to the list of post -->
    <a href="/list_posts">Back to Posts</a>

  </body>
</html>
